<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<appSettings>

<!--FTP Server URL.-->

<!--<add key="FTPUrl" value="ftp://133.242.49.19/"/><remark CLoseLogic of Chage FTP Server />-->
<add key="FTPUrl" value="ftp://27.133.149.167/"/>

<!--FTP UserName.-->

<add key="FTPUserName" value="ftp-sks"/>

<!--FTP PassWord.-->

<add key="FTPPassWord" value="lMnx5L2S"/>

<!--FTP FodlerName.-->

<add key="FTPFolderName" value="Uploads/"/>

<!--Local FodlerPath.-->

<add key="LocalFodlerpath" value="C:\Qbei_Log\ExportCSV"/>

</appSettings>

</configuration>