<?xml version="1.0" encoding="utf-8" ?>
<packages>
  <package id="Selenium.Firefox.WebDriver" version="0.23.0" targetFramework="net40-client" />
  <package id="Selenium.WebDriver" version="3.2.0" targetFramework="net40-client" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.32.0" targetFramework="net40-Client" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.19.0" targetFramework="net40-Client" />
  <package id="Selenium.WebDriver.IEDriver" version="3.4.0" targetFramework="net40-Client" />
</packages>