USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[QbeiError_LogDateSearch]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QbeiError_LogDateSearch]
		-- Add the parameters for the stored procedure here
	@Date date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
		select qe.ID,qe.SiteID,qe.JanCode,qe.OrderCode,e.Description as Description,qe.Date
 from Qbei_ErrorLog qe INNER JOIN ErrorType e ON  qe.ErrorType=e.Type
	 where   ( @Date IS NULL OR(CONVERT(VARCHAR(10), Date, 121) = @Date)) 
	  --( @Date IS NULL OR(Date = @Date))
END

GO
