USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Setting_Select]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Setting_Select] 
	-- Add the parameters for the stored procedure here
	@ID  int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID,Url,SiteID,SiteName,UserName,Password,TotalCount,Start_time,End_time FROM Site_Setting
	WHERE (@ID IS NULL OR (SiteID = @ID))
	
END
GO
