USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Setting_Update]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Setting_Update]
	-- Add the parameters for the stored procedure here
	
	@SiteName NVARCHAR(50),
	@SiteID VARCHAR(5),
	@UserName nvarchar(50),
	@Password nvarchar(100),
	@Url nvarchar(100),
	@TotalCount int,
	@Starttime datetime,
	@Duration datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		Update Site_Setting  SET SiteID=@SiteID,SiteName=@SiteName,UserName=@UserName,Password=@Password,Url=@Url,TotalCount=@TotalCount,Start_time=@Starttime,Duration=@Duration
		where SiteID=@SiteID
END
GO
