USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_SettingSave]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_SettingSave]
	-- Add the parameters for the stored procedure here
	
	@SiteName NVARCHAR(50),
	@SiteID INT,
	@UserName nvarchar(50),
	@Password nvarchar(100),
	@Url nvarchar(100)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		INSERT INTO Site_Setting(SiteName,SiteID,UserName,Password,Url) VALUES(@SiteName,@SiteID,@UserName,@Password,@Url)
END

GO
