USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_OrderDelete]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_OrderDelete]
	-- Add the parameters for the stored procedure here
@site int,
@condition	AS XML

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


    -- Insert statements for procedure here
    if @condition IS NOT NULL
    begin
    	DECLARE @DocHandle int
	
		EXEC sp_xml_preparedocument @DocHandle OUTPUT, @condition
	
		SELECT * INTO #temp014 FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  		WITH (jancode NVARCHAR(200))
  		
  		EXEC sp_xml_removedocument @DocHandle
		delete from Qbei_OrderData where siteID = @site and jancode IN (select * from #temp014);
		DROP TABLE #temp014
	end
   else
	begin
		delete from Qbei_OrderData where siteID = @site;
	end
END


GO
