USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_SiteData_old]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_SiteData_old] 
	-- Add the parameters for the stored procedure here
	@SiteID  NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select siteID,jancode,orderCode,quantity,price,stockdate,purchaserURL,partNo, CONVERT(nvarchar(50),makerDate,111)as makerDate,Convert(nvarchar(50),reflectDate,111)as reflectDate,Convert(nvarchar(50),Updated_Date,111)as Updated_Date,sitecode from dbo.Qbei where siteID = @SiteID
END
GO
