USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_UserUpdate]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_UserUpdate]
	-- Add the parameters for the stored procedure here
	@id int,
	@UserID NVARCHAR(20),
	@Password NVARCHAR(30),
	@UserLevel int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		UPDATE [Qbei_User]  SET UserID  = @UserID ,Password = @password ,UserLevel  = @UserLevel  

      WHERE ID = @id
END
GO
