USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Insert_Xml_37]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:  <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Insert_Xml_37]
 -- Add the parameters for the stored procedure here
 @xmlCsv AS XML,
 @xmlItem AS XML,
 @param as varchar(100)
 
AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;
 
 DECLARE @DocHandle int
 
 EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
 
 SELECT * INTO #temp037 FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
   WITH (代理店ID nvarchar(200),JANコード NVARCHAR(200),在庫情報 NVARCHAR(100),入荷予定 NVARCHAR(50),発注コード NVARCHAR(50),自社品番 NVARCHAR(50),メーカー情報日 NVARCHAR(100),最終反映日 NVARCHAR(100),下代 NVARCHAR(20))

   EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlItem 

   SELECT * INTO #tempItem FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
   WITH (在庫数量 nvarchar(200),商品コード  nvarchar(100),JANコード nvarchar(100),下代単価 nvarchar(50))

   EXEC sp_xml_removedocument @DocHandle
     
 --   UPDATE #temp037
 --SET 発注コード =replace(replace(replace(replace(replace(replace(replace(replace(発注コード,N'在庫処分/inquiry/',''),N'/inquiry/',''),N'在庫処分/empry/',''),N'発注禁止/',''),N'在庫処分/good/',''),N'在庫処分/small/',''),N'在庫処分/empty/',''),N'バラ注文できない為発注禁止/','')

 	--update Item does not exist
   UPDATE #temp037
   SET 在庫情報 = CASE WHEN ((在庫情報 LIKE 'empty' OR 在庫情報 LIKE 'inquiry') AND 入荷予定 LIKE '2100-01-10') THEN 在庫情報 else 'empty' END,
   入荷予定 = CASE WHEN ((在庫情報 LIKE 'empty' OR 在庫情報 LIKE 'inquiry') AND 入荷予定 LIKE '2100-01-10') THEN 入荷予定 else '2100-02-01' END
   FROM #temp037 t1
   WHERE
   発注コード IN(select t2.発注コード from #temp037 t2 left join #tempItem t3 on t2.発注コード = t3.商品コード where t3.商品コード IS NULL)
  AND 発注コード <>'' AND 発注コード  IS NOT  NULL
	
		--update Mall data 
	UPDATE #temp037
  	SET 在庫情報 = t2.在庫数量,
	下代 = t2.下代単価
  	FROM #temp037 t1
  	INNER JOIN #tempItem t2 ON t1.発注コード = t2.商品コード
  	WHERE NOT(t1.在庫情報 LIKE 'empty' AND t1.入荷予定 like '2100-01-10') AND NOT(t1.在庫情報 LIKE 'inquiry' AND t1.入荷予定 like '2100-01-10')
  	
 	--update Mall data
  	UPDATE #temp037
  	SET 在庫情報 = t2.在庫数量,
	下代 = t2.下代単価
  	FROM #temp037 t1
  	INNER JOIN #tempItem t2 ON t1.発注コード = t2.商品コード
  	WHERE (t1.在庫情報 LIKE 'empty' OR t1.在庫情報 LIKE 'inquiry') AND t1.入荷予定 like '2100-01-10'
  	AND ((t2.在庫数量 not LIKE N'%完売%') OR (t2.在庫数量 NOT LIKE N'%×%'))
  	
  	INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
	SELECT 代理店ID,N'東京サンエス(株)',JANコード,発注コード,3,'OrderCode Not Found',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'037'
	FROM #temp037
	WHERE  発注コード ='' OR 発注コード  IS  NULL
	
	
	
  	UPDATE #temp037
  	SET 在庫情報 = 'good',
	入荷予定 = '2100-01-01'
  	WHERE 在庫情報 LIKE N'%○%'
  	
  	UPDATE #temp037
  	SET 在庫情報 = 'small',
	入荷予定 = '2100-01-01'
  	WHERE 在庫情報 LIKE N'%△%'
  	
  	UPDATE #temp037
  	SET 在庫情報 = 'empty',
	入荷予定 = '2100-01-01'
  	WHERE  在庫情報 LIKE N'%×%'
  	
  	UPDATE #temp037
  	SET 在庫情報 = 'empty',
	入荷予定 = '2100-02-01'
  	WHERE 在庫情報 LIKE N'%完売%' 

	--UPDATE #temp037 
 -- 	SET 在庫情報 = 'empty',
	--入荷予定 = '2100-02-01'
 -- 	WHERE 在庫情報 LIKE N'%終%' OR 在庫情報 LIKE N'%終了%'
  	 
  	
  	IF @param IS NOT NULL
  	begin
		SELECT * INTO #tempOnce
		FROM(
		SELECT t1.* 
		FROM #temp037 t1
		WHERE t1.発注コード IN ( SELECT t2.商品コード 
		FROM #tempItem t2
		WHERE t2.在庫数量 LIKE N'%完売%' OR t2.在庫数量  LIKE N'%×%'))As temp
	
		INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)	
		SELECT 代理店ID,N'東京サンエス(株)',JANコード,発注コード,5,'Item doesn''t check!',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'037'
		FROM #temp037 
		WHERE 発注コード IN(
		SELECT #tempOnce.発注コード
		FROM #tempOnce
		WHERE #tempOnce.発注コード IN (SELECT orderCode  from Qbei_OrderData where siteID = 37))
	
		INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL, partNo, makerDate, reflectDate, Updated_Date,sitecode) 
		SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'https://ec.tsss.co.jp/aec/user/shohin_detail?item_cd='+発注コード, 自社品番,CONVERT(char(10), GetDate(),126),最終反映日, GETDATE (),'037'
		FROM #temp037
		WHERE 発注コード IN(
		SELECT #tempOnce.発注コード
		FROM #tempOnce
		WHERE #tempOnce.発注コード NOT IN (SELECT orderCode  from Qbei_OrderData where siteID = 37))
	
		INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL, partNo, makerDate, reflectDate, Updated_Date,sitecode) 
		SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'https://ec.tsss.co.jp/aec/user/shohin_detail?item_cd='+発注コード, 自社品番,CONVERT(char(10), GetDate(),126),最終反映日, GETDATE (),'037' 
		FROM #temp037
		WHERE 
		発注コード <>'' AND 発注コード  IS NOT  NULL
		AND 発注コード NOT IN (SELECT 発注コード FROM #tempOnce )
	    Update Qbei set purchaserURL = REPLACE(purchaserURL,'#','%23') where orderCode LIKE '#%'

		DROP TABLE #tempOnce 
	end
 
	else
	
	 begin
			--Delete Order data before insert into Qbei table	
			DELETE FROM Qbei_OrderData 
			WHERE siteID = 37
			AND jancode IN (SELECT JANコード FROM #temp037
			WHERE  EXISTS(SELECT JANコード FROM #tempItem
			WHERE JANコード <> ' ' AND JANコード  IS NOT NULL)
			AND   発注コード <> ' ' AND 発注コード  IS NOT NULL)
			
		    INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL, partNo, makerDate, reflectDate, Updated_Date,sitecode) 
		    SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'https://ec.tsss.co.jp/aec/user/shohin_detail?item_cd='+発注コード, 自社品番,CONVERT(char(10), GetDate(),126),最終反映日, GETDATE (),'037' FROM #temp037
		    WHERE 
		   発注コード <>'' AND 発注コード  IS NOT  NULL
 
        end

  	DROP TABLE #temp037
  	DROP TABLE #tempItem
  

END

  



GO
