USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbeisetting_Delete]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbeisetting_Delete] 
	-- Add the parameters for the stored procedure here
	@id  int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

delete from Site_Setting 
where   SiteID=@id
END
GO
