USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_SiteCountTest]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_SiteCountTest] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
select distinct t2.UpdateDate,t1.siteID,t1.totalcount,t2.TotalCount,CASE WHEN t1.totalcount = t2.TotalCount THEN '1' ELSE '0' END AS MyDesiredResult from
(SELECT siteID,SUM(Total) as totalcount
		FROM
		(
		SELECT siteID AS siteID,COUNT(siteID) AS Total from Qbei
		Group BY siteID
		UNION
		SELECT SiteID AS siteID,COUNT(SiteID) AS Total from Qbei_ErrorLog
		Group BY SiteID) AS Temp
		GROUP BY siteID) t1
        left join
        (Select DISTINCT SiteID,TotalCount,CAST(End_time as date)as UpdateDate
        FROM dbo.Site_Setting) t2
        on t1.siteID = t2.siteID
END

GO
