USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_TransferData]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_TransferData]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	TRUNCATE TABLE Qbei_BackUp
	
	INSERT INTO Qbei_BackUp( site, jancode, quantity, stockDate, partNo, makerDate, reflectDate, Updated_Date)
	SELECT site, jancode, quantity, stockDate, partNo, makerDate, reflectDate, Updated_Date FROM Qbei
	
	TRUNCATE TABLE Qbei
END
GO
