USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[TotalCount_Insert]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[TotalCount_Insert]
@TotalCount	int,
@SiteID varchar(5)

	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    INSERT INTO Site_Setting(TotalCount,SiteCode) 
    VALUES(@TotalCount,@siteID)
END
GO
