USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[QbeiErrorLogBackup_DateSearch]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QbeiErrorLogBackup_DateSearch]
	-- Add the parameters for the stored procedure here
	@Date date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT qeb.ID,qeb.SiteName,qeb.JanCode,qeb.OrderCode,e.Description as Description,qeb.Date from Qbei_ErrorLog_BackUp qeb INNER JOIN ErrorType e ON qeb.ErrorType=e.Type
	where   ( @Date IS NULL OR(Date = @Date))



END
GO
