USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Rerun_ErrorInsert]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Rerun_ErrorInsert]
	-- Add the parameters for the stored procedure here
@siteCd varchar(5),
@condition	AS XML,
@description nvarchar(200),
@ErrorType int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    begin
    	DECLARE @DocHandle int
	
		EXEC sp_xml_preparedocument @DocHandle OUTPUT, @condition
	
		SELECT * INTO #temp014 FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  		WITH (代理店ID nvarchar(200),JANコード NVARCHAR(200),発注コード NVARCHAR(50),SiteName NVARCHAR(200))
  		
  		EXEC sp_xml_removedocument @DocHandle
		--Delete Qbei_ErrorLog data match with parameter
		delete from Qbei_ErrorLog where SiteCode = @siteCd and JanCode IN (select JANコード from #temp014);

		--Delete Qbei data match with parameter
		delete from Qbei where sitecode = @siteCd and jancode IN (select JANコード from #temp014);
		
		--Delete Qbei data match with parameter
		delete from Qbei_OrderData  where sitecode = @siteCd and jancode IN (select JANコード from #temp014);	
		
		If @ErrorType = 2
			--Insert all parameter data into Qbei_ErrorLog table
			INSERT INTO Qbei_ErrorLog (SiteID,sitename,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
			select 代理店ID,SiteName,JANコード,発注コード,@ErrorType,@description,GETDATE(),@siteCd from #temp014
		
		else
			--Insert all parameter data into Qbei_ErrorLog table
			INSERT INTO Qbei_ErrorLog (SiteID,sitename,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
			select 代理店ID,SiteName,JANコード,'',@ErrorType,@description,GETDATE(),@siteCd from #temp014		 

		DROP TABLE #temp014
	end
END




GO
