USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_User_Select1]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_User_Select1]
	-- Add the parameters for the stored procedure here
	@ID INT,
	@UserID NVARCHAR(20)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT * from Qbei_User
	--WHERE (@ID IS NULL OR (ID = @ID))
where	(UserID = @UserID)
END
GO
