USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Starttime_Save]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Starttime_Save]
	-- Add the parameters for the stored procedure here
	@Start_time datetime,
	@SiteID   varchar(5)   
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--INSERT INTO Site_Setting(Start_time ,Duration) 
    -- VALUES(@starttime ,@endtime)

      update Site_Setting set Start_time=@Start_time where siteID=@SiteID
END
GO
