USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Rerun_Insert]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Rerun_Insert]
	-- Add the parameters for the stored procedure here
@siteId int,
@siteNm nvarchar(200),
@JanCd nvarchar(20),
@OrderCd nvarchar(50),
@siteCd varchar(5),
@quantity nvarchar(50),
@stockDate nvarchar(50),
@price nvarchar(50),
@purchaserURL nvarchar(200),
@partNo nvarchar(50),
@makerDate date,
@reflectDate date

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    begin
    	DECLARE @DocHandle int
		DECLARE @Cnt int

		Set @Cnt = (select COUNT(*) from Qbei_OrderData where siteID = @siteId and jancode = @JanCd) ;

		--Delete Qbei_ErrorLog data match with parameter
		delete from Qbei_ErrorLog where SiteCode = @siteCd and JanCode = @JanCd ;

		--Delete Qbei data match with parameter
		delete from Qbei where sitecode = @siteCd and jancode = @JanCd ;
			
		if @Cnt > 0 
			--Insert all parameter data into Qbei_ErrorLog table
			INSERT INTO Qbei_ErrorLog (SiteID,sitename,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
			VALUES( @siteId ,@siteNm ,@JanCd ,@OrderCd ,5,'Item doesn''t Check!',GETDATE(),@siteCd)
		else
		--Insert all parameter data into Qbei Table
			INSERT INTO Qbei(siteID ,jancode ,orderCode ,quantity ,stockDate ,price ,purchaserURL ,partNo ,makerDate ,reflectDate ,Updated_Date ,sitecode )
			VALUES (@siteId,@JanCd,@OrderCd,@quantity,@stockDate,@price,@purchaserURL,@partNo,@makerDate,@reflectDate,GETDATE (),@siteCd )		
			----Insert parameter data not exist in Qbei_OrderData table
			--INSERT INTO Qbei_OrderData (siteID,jancode, orderCode, checkDate, Insert_Date,sitecode)
			--VALUES( @siteId ,@JanCd ,@OrderCd ,CONVERT(DATE,DATEADD (WEEK,1,GETDATE())),GETDATE(),@siteCd)
	end
END


GO
