USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_ErrorInsert]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[Qbei_ErrorInsert]
@site	int,
@jancode	nvarchar(20),
@ordercode nvarchar(100),
@sitename nvarchar(200),
@description nvarchar(200),
@ErrorType int,
@date Date,
@sitecode varchar(5)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 INSERT INTO Qbei_ErrorLog(SiteID,SiteName, JanCode, OrderCode, Description,ErrorType, Date,SiteCode) 
    VALUES(@site,@sitename,@jancode,@ordercode,@description,@ErrorType,@date,@sitecode)
END
GO
