USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_OrderDataInsert]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:  <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[Qbei_OrderDataInsert]
@site int,
@jancode nvarchar(20),
@ordercode nvarchar(100),
@sitecode varchar(5)

AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;

    -- Insert statements for procedure here
  INSERT INTO Qbei_OrderData(siteID,jancode, orderCode, checkDate, Insert_Date,sitecode) 
    VALUES(@site,@jancode,@ordercode,CONVERT(DATE,DATEADD(WEEK,1,GETDATE())),GETDATE (),@sitecode)
END





GO
