USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[ErrorSiteList]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ErrorSiteList] 
	-- Add the parameters for the stored procedure here
	@siteID int,
	@description nvarchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
    -- Insert statements for procedure here
select qe.ID,qe.SiteID,qe.JanCode,qe.OrderCode,
	e.Description as Description,qe.Date
 from dbo.Qbei_ErrorLog qe
inner join
ErrorType e ON qe.ErrorType = e.Type where SiteID = @siteID and e.Description = @description
END

GO
