USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_SelectForCsv]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_SelectForCsv]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT site AS '代理店ID', jancode AS 'JANコード',quantity AS '在庫情報', CONVERT(CHAR(10), stockDate, 120) AS '入荷予定' ,
	partNo AS '自社品番', CONVERT(CHAR(10), makerDate, 120) AS 'メーカー情報日', CONVERT(CHAR(10), reflectDate, 120) AS '最終反映日'
	FROM Qbei
END
GO
