USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Insert]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:  <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[Qbei_Insert]
@site varchar(5),
@siteID int,
@jancode nvarchar(20),
@orderCode  nvarchar(50),
@quantity nvarchar(50),
@stockDate nvarchar(50)=null,
@price  nvarchar(50),
@purchaseURL nvarchar(200)=null,
@partNo nvarchar(50),
@makerDate date,
@reflectDate date,
@Updated_Date datetime
 
AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;

    -- Insert statements for procedure here
    INSERT INTO Qbei(sitecode,siteID, jancode,orderCode, quantity, stockDate,price,purchaserURL,partNo, makerDate, reflectDate, Updated_Date) 
    VALUES			(@site,@siteID,@jancode,@orderCode,@quantity,@stockDate,@price,@purchaseURL,@partNo, @makerDate, @reflectDate,@Updated_Date)
END


GO
