USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_User_Select_by]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_User_Select_by] 
	-- Add the parameters for the stored procedure here
	--@ID INT,
	@UserID NVARCHAR(20),
	@Password NVARCHAR(30)
	--@UserLevel INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT d.ID, d.UID,d.Password,d.User_Role FROM [User_Management].dbo.Common_User as d
	WHERE
	-- (@ID IS NULL OR (d.ID = @ID))
	--AND
	d.UID = @UserID
	AND d.Password = @Password
	and Inventory = 1 and Is_Deleted <> 1 and restricted_user <> 1
	--AND (@UserLevel IS NULL OR (UserLevel = @UserLevel))
END
GO
