USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Console_FlagChange]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Console_FlagChange]
	-- Add the parameters for the stored procedure here
	@Start_time datetime,
	@End_time datetime,
	@flag AS smallint,
	@site AS int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @Start_time <> '' AND (Select (CONVERT(VARCHAR(19), Start_time, 120)) from Site_Setting where SiteID=@site) <> @Start_time
	--IF @Start_time <> '' 
	BEGIN
		UPDATE dbo.Site_Setting
		SET FlagIsFinished = @flag,Start_time=@Start_time,End_time=@End_time
		WHERE SiteID = @site
	END
	ELSE 
	BEGIN
		UPDATE dbo.Site_Setting
		SET FlagIsFinished = @flag,End_time=@End_time
		WHERE SiteID = @site
	END
END
GO
