USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_User_Select]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_User_Select] 
	-- Add the parameters for the stored procedure here
	@ID INT,
	@UserID NVARCHAR(20),
	@Password NVARCHAR(30),
	@UserLevel INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Qbei_User
	WHERE (@ID IS NULL OR (ID = @ID))
	AND (@UserID IS NULL OR (UserID = @UserID))
	AND (@Password IS NULL OR (Password = @Password))
	AND (@UserLevel IS NULL OR (UserLevel = @UserLevel))
END
GO
