USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbeisetting_SelectAll]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbeisetting_SelectAll]
	-- Add the parameters for the stored procedure here
	
	@Url nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Url  From Site_Setting 
	WHERE (@Url IS NULL OR (Url = @Url))
	
END
GO
