USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_ErrorLog_3_InsertXml]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,2018-02-20,>
-- Description:	<Description,for ErrorType 5,6,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_ErrorLog_3_InsertXml]
	-- Add the parameters for the stored procedure here
   @xml AS XML,
   @sitename nvarchar(200),
   @Description nvarchar(200),
   @ErrorType int,
   @SiteCode varchar(5)
 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 DECLARE @DocHandle int   
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xml
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (代理店ID nvarchar(200),JANコード NVARCHAR(200),発注コード NVARCHAR(100))

	EXEC sp_xml_removedocument @DocHandle
	
    INSERT INTO Qbei_ErrorLog(SiteID,sitename, JanCode,OrderCode,Description,ErrorType,Date,SiteCode) 
	SELECT 代理店ID,@sitename,JANコード,発注コード,@Description,@ErrorType,CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),@SiteCode
	FROM #temp
	
END

GO
