USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[ResetFlag]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[ResetFlag] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	--select SiteID, Description ,count(Description)as ErrorCount from dbo.qbei_errorlog
 --   group by Description,SiteID,Description
    
    UPDATE Site_Setting
    SET FlagIsFinished=0

END
GO
