USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[QbeiErrorLogBackup_EqualSearch]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QbeiErrorLogBackup_EqualSearch]
		-- Add the parameters for the stored procedure here
	@SiteName nvarchar(200),
	@ErrorType int,
	@Date date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
		select qeb.ID,qeb.SiteName,qeb.JanCode,qeb.OrderCode,e.Type,
		e.Description as Description,Date
 from Qbei_ErrorLog_BackUp qeb INNER JOIN ErrorType e ON qeb.ErrorType=e.Type
	 where  
	(@SiteName IS NULL OR (SiteName =@SiteName))
	AND(@ErrorType IS NULL OR (ErrorType = @ErrorType))
	AND ( @Date IS NULL OR(CONVERT(VARCHAR(19), Date, 121) = @Date))
END

GO
