USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_ErrorLog_OldCode_InsertXml]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_ErrorLog_OldCode_InsertXml]
	-- Add the parameters for the stored procedure here
   @xml AS XML,
   @SiteCode varchar(5),
   @sitename nvarchar(50)
  
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 DECLARE @DocHandle int   
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xml
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (代理店ID nvarchar(200),JANコード NVARCHAR(200))

	EXEC sp_xml_removedocument @DocHandle
	
    INSERT INTO Qbei_ErrorLog(SiteID,sitename, JanCode,OrderCode,Description,ErrorType,Date,SiteCode) 
	SELECT 代理店ID,@sitename,JANコード,'','Order Code Not Found','3',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),@SiteCode
	FROM #temp
	
END
GO
