USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Insert_Xml_036]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Insert_Xml_036]
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML,
	@xmlItem AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @DocHandle int
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp036 FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (代理店ID nvarchar(200),JANコード NVARCHAR(200),発注コード NVARCHAR(200),在庫情報 NVARCHAR(100),入荷予定 NVARCHAR(50),自社品番 NVARCHAR(50),メーカー情報日 NVARCHAR(100),最終反映日 NVARCHAR(100),下代 NVARCHAR(20))

  	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlItem 

  	SELECT * INTO #tempItem FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (OrderCode nvarchar(200),Qty NVARCHAR(100),Price NVARCHAR(20),StockDate NVARCHAR(100))

  	EXEC sp_xml_removedocument @DocHandle
  	
	DELETE
	FROM #temp036
	WHERE 発注コード = '' OR 発注コード IS NULL		

	UPDATE #temp036
	SET 発注コード =replace(replace(replace(replace(replace(replace(replace(replace(発注コード,N'在庫処分/empty/',''),N'在庫処分/inquiry/',''),N'データ登録し直すまで在庫更新しないで|',''),N'・ﾝ・ﾉ・・・ｪ/inquiry/',''),N'・f・[・^・o・^・ｵ・ｼ・ｷ・ﾜ・ﾅ・ﾝ・ﾉ・X・V・ｵ・ﾈ・｢・ﾅ|',''),N'・ﾝ・ﾉ・・・ｪ/empty/',''),N'・ﾝ・ﾉ・・・ｪ/empry/',''),N'在庫処分/empry/','')
					 
    INSERT INTO Qbei_ErrorLog(SiteID,sitename,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
	SELECT 代理店ID,N'PRインターナショナル',JANコード,発注コード,3,'OrderCode Not Found',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'036'
	FROM #temp036
	WHERE 発注コード = '' OR 発注コード IS NULL			 
					 

  	UPDATE #temp036
  	SET 在庫情報 = t2.Qty,
	入荷予定 = t2.StockDate,
	下代 = t2.Price
  	FROM #temp036 t1
  	INNER JOIN #tempItem t2 ON t1.発注コード = t2.OrderCode

	UPDATE #temp035
  	SET 入荷予定 ="2018-02-28"
  	WHERE 入荷予定 LIKE N'%2月%'
  	
  	INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL, partNo, makerDate, reflectDate, Updated_Date,sitecode) 
	SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'http://www.g-style.ne.jp/shop/stock.php?brand_id=21', 自社品番,CONVERT(char(10), GetDate(),126),最終反映日, CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'036' FROM #temp036
	WHERE 発注コード IN(SELECT OrderCode FROM #tempItem)
	AND 発注コード <> '' AND 発注コード  IS NOT NULL

	INSERT INTO Qbei_ErrorLog(SiteID,sitename,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
	SELECT 代理店ID,N'PRインターナショナル',JANコード,発注コード,2,'Item Doesn''t exists',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'036'
	FROM #temp036
	WHERE 発注コード NOT IN(SELECT OrderCode FROM #tempItem)
	AND 発注コード <> '' AND 発注コード  IS NOT NULL
	
  	DROP TABLE #temp036
  	DROP TABLE #tempItem
END
GO
