USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[UserLevel_Select]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UserLevel_Select]
	-- Add the parameters for the stored procedure here
	@userID NVARCHAR(20)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT UserLevel from Qbei_User where UserID=@userID
END

GO
