USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_UserSave]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_UserSave]
	-- Add the parameters for the stored procedure here
	@UserID NVARCHAR(20),
	@Password NVARCHAR(30),
	@UserLevel int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Qbei_User (UserID ,Password ,UserLevel) 
    VALUES(@UserID ,@Password,@UserLevel  )
END
GO
