USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[QbeiError_AllDisplay]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QbeiError_AllDisplay]
		-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
			(select qe.ID,qe.SiteID,qe.JanCode,qe.OrderCode,e.Description as Description,qe.Date
 from Qbei_ErrorLog qe INNER JOIN ErrorType e ON  e.Type=qe.ErrorType)  
	
END

GO
