USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[SelectFlag]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectFlag]
	-- Add the parameters for the stored procedure here
	@site int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select FlagIsFinished from dbo.Site_Setting where SiteID= @site
END
GO
