USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[QbeiErrorLogBackup_SiteIDSearch]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QbeiErrorLogBackup_SiteIDSearch]
		-- Add the parameters for the stored procedure here
	@SiteName nvarchar(200),
	@ErrorType int,
	@Date datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
	--	select qeb.ID,qeb.SiteName,qeb.JanCode,qeb.OrderCode,e.Type,e.Description as Description ,qeb.Date
 --from Qbei_ErrorLog_BackUp qeb INNER JOIN ErrorType e ON qeb.ErrorType=e.Type 
	-- where  
	--(@SiteName IS NULL OR (SiteName = @SiteName))
	--AND(@ErrorType=0 OR (ErrorType = @ErrorType))
 --   AND ( @Date IS NULL OR(Date= @Date))
	--AND ( @Date IS NULL OR(CONVERT(VARCHAR(21), Date, 121) = @Date))

	SELECT *  FROM [Qbei_ErrorLog_BackUp] where  
 ( @SiteName IS NULL OR (SiteName=@SiteName))
 AND (@ErrorType=0 OR(ErrorType = @ErrorType))
 AND (@Date IS NULL OR (Date = @Date))




END



GO
