USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_InsertXml]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_InsertXml]
	-- Add the parameters for the stored procedure here
   @xml AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 DECLARE @DocHandle int   
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xml
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (site nvarchar(50),jancode nvarchar(20),orderCode nvarchar(50),quantity nvarchar(50),stockDate nvarchar(50),price nvarchar(50),purchaserURL nvarchar(200),partNo nvarchar(50),makerDate date,reflectDate date,Updated_Date datetime)

	EXEC sp_xml_removedocument @DocHandle
	
    INSERT INTO Qbei(site,jancode,orderCode,quantity,stockDate,price,purchaserURL,partNo,makerDate,reflectDate,Updated_Date) 
	SELECT site,jancode,orderCode,quantity,stockDate,price,purchaserURL,partNo,makerDate,reflectDate,Updated_Date
	FROM #temp
	
END
GO
