USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_BackUp_Insert]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_BackUp_Insert]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

INSERT INTO Qbei_BackUp (makerBrand,item,itemCode,itemName,retail_price,price,date,status,site,Updated_Date,jancode, partNo,makerDate,reflectDate, stockDate)
SELECT makerBrand,item,itemCode,itemName,retail_price,price,date,status,site,Updated_Date,jancode, partNo,makerDate,reflectDate, stockDate FROM Qbei
END
GO
