USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[QbeiError_SiteSearch]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QbeiError_SiteSearch]
		-- Add the parameters for the stored procedure here
	@SiteName Nvarchar (50),
	@ErrorType int,
	@Date date
AS
BEGIN
	

	
  SELECT s.SiteName,qe.ID,qe.SiteID,qe.JanCode,qe.OrderCode,qe.ErrorType,qe.Description,qe.Date,qe.SiteCode FROM [Qbei_ErrorLog_BackUp] qe 
  INNER JOIN Site_Setting s ON s.SiteID=qe.SiteID
  where ( s.SiteName = @SiteName) AND
   --(@Date IS NULL OR (qe.Date = @Date) )AND
   (@ErrorType IS  NULL OR (qe.ErrorType = @ErrorType))
  
  

	
END
GO
