USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Rerun_ODelete]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Rerun_ODelete]
	-- Add the parameters for the stored procedure here
@site int,
@jancode nvarchar(20),
@ordercode nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;	
		--Delete Qbei_ErrorLog data match with parameter
		delete from Qbei_OrderData  where SiteID = @site and JanCode = @jancode and OrderCode = @ordercode;

END



GO
