USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Insert_Xml_035]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Insert_Xml_035]
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML,
	@xmlItem AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @DocHandle int
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp035 FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (代理店ID nvarchar(200),JANコード NVARCHAR(200),在庫情報 NVARCHAR(100),入荷予定 NVARCHAR(50),発注コード NVARCHAR(50),自社品番 NVARCHAR(50),メーカー情報日 NVARCHAR(100),最終反映日 NVARCHAR(100),下代 NVARCHAR(20))
  
  	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlItem 

  	SELECT * INTO #tempItem FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (商品コード nvarchar(200),JAN NVARCHAR(100),在庫状況 NVARCHAR(100),Price NVARCHAR(20))

  	EXEC sp_xml_removedocument @DocHandle
  	
  	
  
  	
  	--Update #tempItem
   -- SET JANコード = REPLACE(JANコード,'=','')

   	Update #tempItem
    SET JAN = REPLACE(JAN,'=','')
  	
  	--Update #tempItem
   -- SET JANコード = REPLACE(JANコード,'"','')

   	Update #tempItem
    SET JAN= REPLACE(JAN,'"','')
  	
  	UPDATE #temp035
  	SET 在庫情報 = t2.在庫状況,
  	下代 = t2.Price,
  	入荷予定 = t2.在庫状況
    FROM #temp035 t1
  	INNER JOIN #tempItem t2 ON t1.JANコード = t2.JAN
  	
  	UPDATE #temp035
  	SET 在庫情報 = 'good',
  	 入荷予定 = '2100-01-01'
  	WHERE 在庫情報 LIKE N'%○%'OR 在庫情報 LIKE N'%◎%'
  	
  	UPDATE #temp035
  	SET 在庫情報 = 'small',
  	入荷予定 = '2100-01-01'
  	WHERE 在庫情報 LIKE  N'%△%'OR 在庫情報 LIKE N'%数字%'
  	
  	UPDATE #temp035
  	SET 在庫情報 = 'empty',
  	入荷予定 = '2100-01-01'
  	WHERE 在庫情報 LIKE N'%完売%' OR 在庫情報 LIKE N'%入荷未定%' OR 在庫情報 LIKE N'%在庫切れ%' OR 在庫情報 LIKE N'%入荷待ち%'
  	
  	UPDATE #temp035
  	SET 在庫情報 = 'empty',
  	入荷予定 = Cast(year(getdate()) AS VARCHAR(4)) + '-' + replace(在庫情報,N'月下旬','') + '-' + '20'
  	WHERE 在庫情報 LIKE N'%下旬%' 
  	
    UPDATE #temp035
  	SET 在庫情報 = 'empty',
  	入荷予定 = Cast(year(getdate()) AS VARCHAR(4)) + '-' + replace(在庫情報,N'月上旬','') + '-' + '01'
  	WHERE 在庫情報 LIKE N'%上旬%' 
  	
  	UPDATE #temp035
  	SET 在庫情報 = 'empty',
  	入荷予定 = Cast(year(getdate()) AS VARCHAR(4)) + '-' + replace(在庫情報,N'中旬','') + '-' + '15'
  	WHERE 在庫情報 LIKE N'%中旬%' 
  	
  	UPDATE #temp035
  	SET 在庫情報 = 'small',
  	入荷予定 = '2100-01-01'
  	WHERE 在庫情報 NOT LIKE '%[^0-9]%'

  	UPDATE #temp035
	SET 発注コード =replace(replace(replace(replace(replace(発注コード,N'在庫処分/good/',''),N'在庫処分/inquiry/',''),N'在庫処分/small/',''),N'在庫処分/empry/',''),N'在庫処分/empty/','')

  	
    INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL,partNo, makerDate, reflectDate, Updated_Date,sitecode) 
	SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'https://store.intertecinc.jp/intertec/mypage/main_page'+発注コード,自社品番,メーカー情報日,最終反映日,getdate(),'035' FROM #temp035
	WHERE  EXISTS(SELECT JAN FROM #tempItem
	WHERE JAN <> '' AND JAN IS NOT NULL)
	
	
    INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
	SELECT 代理店ID,N'インターテック(特殊)',JANコード,発注コード,2,'Item Doesn''t exists',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'035'
	FROM #temp035
	WHERE JAN NOT IN(SELECT JAN FROM #tempItem)
	AND JAN <> '' AND JAN  IS NOT NULL	
	
	INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
	SELECT 代理店ID,N'インターテック(特殊)',JANコード,発注コード,9,'JanCode Not Found',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'035'
	FROM #temp035
	WHERE JANコード = '' OR JANコード IS NULL	
	
  	DROP TABLE #temp035
  	DROP TABLE #tempItem
  	
END
GO
