USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_DeleteSiteData]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_DeleteSiteData]
	-- Add the parameters for the stored procedure here
	@site int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	INSERT INTO Qbei_Backup(siteID, jancode,quantity , stockDate, partNo, makerDate , reflectDate,Updated_Date)
    SELECT siteID,jancode,quantity,stockDate,partNo,makerDate,reflectDate,Updated_Date from Qbei where siteID = @site
    
    -- Insert statements for procedure here
	DELETE FROM Qbei WHERE siteID = @site
	Delete from Qbei_BackUp where siteID = @site AND Updated_Date < GETDATE()-14
END
GO
