USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Insert_Xml_015]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Insert_Xml_015]
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML,
	@xmlItem AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @DocHandle int
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp015 FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (代理店ID nvarchar(200),JANコード NVARCHAR(200),在庫情報 NVARCHAR(100),入荷予定 NVARCHAR(50),発注コード NVARCHAR(50),自社品番 NVARCHAR(50),メーカー情報日 NVARCHAR(100),最終反映日 NVARCHAR(100),下代 NVARCHAR(20))
  
  	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlItem 

  	SELECT * INTO #tempItem FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (商品コード nvarchar(200),在庫数 NVARCHAR(100),単価 NVARCHAR(20),次回入荷 NVARCHAR(20))

  	EXEC sp_xml_removedocument @DocHandle
  	
  	UPDATE #temp015
	SET 発注コード = replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(発注コード,N'在庫処分/empty/-',''),
	N'在庫処分/inquiry/-',''),N'データ登録し直すまで在庫更新しないで|',''),N'在庫処分/empry/-',''),N'在庫処分/empry/',''),N'在庫処分/empry/自動在庫更新停止/',''),
	N'在庫処分/empry/自動在庫更新停止/発注停止/',''),N'在庫処分/good/',''),N'在庫処分/small/',''),N'物流部は発注禁止/',''),N'自動在庫更新停止/-',''),
	N'自動在庫更新停止/',''),N'自動在庫更新停止/発注停止/',''),N'発注停止/',''),N'在庫処分/empty/',''),N'在庫処分/inquiry/','')

	INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
	SELECT 代理店ID,N'アキ',JANコード,発注コード,3,'Order Code Not Found',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'015'
	FROM #temp015
	WHERE 発注コード = '' OR 発注コード IS NULL	

  	UPDATE #temp015
  	SET 在庫情報 = t2.在庫数,
  	下代 = t2.単価,
  	入荷予定 = t2.次回入荷
  	FROM #temp015 t1
  	INNER JOIN #tempItem t2 ON t1.発注コード = t2.商品コード
  	
  	UPDATE #temp015
  	SET 在庫情報 = 'good'
  	WHERE 在庫情報 LIKE N'%◎%' OR 在庫情報 LIKE N'%○%'

	UPDATE #temp035
  	SET 入荷予定 ="2018-02-28"
  	WHERE 入荷予定 LIKE N'%2月%'
  	
  	UPDATE #temp015
  	SET 在庫情報 = 'small'
  	WHERE 在庫情報 LIKE N'%△%' OR 在庫情報 LIKE N'%[0-9]%'
  	
  	UPDATE #temp015
  	SET 在庫情報 = 'empty'
  	WHERE 在庫情報 LIKE N'%×%' 
  	
  	UPDATE #temp015
  	SET 入荷予定 = '2100-01-01'
  	WHERE 入荷予定 = '' OR 入荷予定 = '-' OR 入荷予定 is null
  	
  	UPDATE #temp015
  	SET 入荷予定 = '20' + replace(replace(入荷予定,'/','-'),N'上旬','-10')
  	WHERE 入荷予定 LIKE N'%上旬%'
  	
  	UPDATE #temp015
  	SET 入荷予定 = '20' + replace(replace(入荷予定,'/','-'),N'中旬','-20')
  	WHERE 入荷予定 LIKE N'%中旬%'
  	
  	UPDATE #temp015
  	SET 入荷予定 = '20' + replace(replace(入荷予定,'/','-'),N'下旬','-30')
  	WHERE 入荷予定 LIKE N'%下旬%'

	UPDATE #temp015
  	SET 入荷予定 = '2100/02/01'
  	WHERE 入荷予定 LIKE N'%在庫限り%'
  	
  	INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL,partNo, makerDate, reflectDate, Updated_Date,sitecode) 
	SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'http://222.151.239.218/AKIWEB/USR_GYM/ORDER010.aspx?MODKB=1'+発注コード,自社品番,メーカー情報日,最終反映日,getdate(),'015' FROM #temp015
	WHERE 発注コード IN(SELECT 商品コード FROM #tempItem)
	AND 発注コード <> '' AND 発注コード  IS NOT NULL
	
	INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
	SELECT 代理店ID,N'アキ',JANコード,発注コード,2,'Item Doesn''t exists',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'015'
	FROM #temp015
	WHERE 発注コード NOT IN(SELECT 商品コード FROM #tempItem)
	AND 発注コード <> '' AND 発注コード  IS NOT NULL
	
  	DROP TABLE #temp015
  	DROP TABLE #tempItem
  	
  	select * from Qbei_ErrorLog
  	
  
  	


END
GO
