USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_SelectEmail]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_SelectEmail] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
select COUNT(ErrorType)as Error,e.Description,siteID from Qbei_ErrorLog qe
INNER JOIN ErrorType e ON qe.ErrorType = e.Type 
group by e.Description,SiteID order by SiteID


END
GO
