USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[QbeiError_LogBackupSearch]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QbeiError_LogBackupSearch]
	-- Add the parameters for the stored procedure here
	@SiteID Nvarchar (50),
	@ErrorType Nvarchar (50),
	@Date Nvarchar (50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *  FROM [Qbei_ErrorLog_BackUp] where  
	(@SiteID IS NULL OR (SiteID = @SiteID))
	AND (@ErrorType IS NULL OR (ErrorType = @ErrorType))
	AND (@Date IS NULL OR (Date = @Date))
END
GO
