USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[EndTime_Save]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EndTime_Save]
	-- Add the parameters for the stored procedure here
	@End_time datetime,
	@flag AS smallint,
	@site AS int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		UPDATE dbo.Site_Setting
		SET FlagIsFinished = @flag,End_time=@End_time
		WHERE SiteID = @site
END
GO
