USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[DailyCost_Output]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DailyCost_Output] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
select SaleDate,Category,PAcc,CAcc,OAcc,SAcc,FAcc,IAcc,ROUND(SUM(Amount),0)Amt
from(
select SaleDate,Category,PF.AccountTitle PAcc,O.AccountTitle OAcc,SC.AccountTitle SAcc,C.AccountTitle CAcc,F.AccountTitle FAcc,I.AccountTitle IAcc,Amount,FinFlag  
from T_Sale 
left join PackingFareMaster PF
on T_Sale.ID = PF.ID 
left join OutsourcingMaster O
on T_Sale.OutsourcingID = O.OutsourcingID 
left join SalesCommissionMaster SC
on T_Sale.SalesCommissionID = SC.SalesCommissionID 
left join CommercialTaxMaster C
on T_Sale.CommercialTaxID = C.CommercialTaxID 
left join InsuranceMaster I
on T_Sale.InsuranceID = I.InsuranceID 
left join FixedCostMaster F
on T_Sale.FixedCostID = F.FixedCostID 
)Sale
where FinFlag = 0
group by  Sale.SaleDate,Sale.Category,Sale.PAcc,Sale.CAcc,Sale.OAcc,Sale.SAcc,Sale.FAcc,Sale.IAcc  
order by Sale.SaleDate DESC
END

GO
