USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_DeleteErrorLog]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_DeleteErrorLog]
	@site int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Qbei_ErrorLog_BackUp(SiteID,SiteName,SiteCode, JanCode,OrderCode, ErrorType, Description, Date)
    SELECT SiteID,SiteName,SiteCode,JanCode,OrderCode, ErrorType, Description, Date from Qbei_ErrorLog where SiteID = @site
    
    -- Insert statements for procedure here
	DELETE FROM Qbei_ErrorLog WHERE SiteID=@site
	Delete from Qbei_ErrorLog_BackUp where SiteID = @site AND Date < GETDATE()-14
END
GO
