USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_ErrorCount]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_ErrorCount] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	--select SiteID, Description ,count(Description)as ErrorCount from dbo.qbei_errorlog
 --   group by Description,SiteID,Description
    
    --select DISTINCT t1.SiteID,t1.SiteName,Convert(varchar(20),t1.Date,120)as Date,t2.siteID, t2.TotalCount as TotalCount
    -- from 
    --(Select DISTINCT SiteID,SiteName,Convert(varchar(20),Date,120)as Date
    -- FROM dbo.Qbei_ErrorLog) t1
    -- left join
    --(SELECT siteID, COUNT(*) AS TotalCount FROM dbo.qbei GROUP BY siteID ) t2
    -- on
    --t1.SiteID = t2.siteID
    
	select DISTINCT t1.SiteID,t1.SiteName,Convert(varchar(20),t1.Date,120)as Date,t2.siteID, t2.TotalCount as TotalCount
     from 
    (Select SiteID,SiteName,convert(varchar(20),Start_time,120)as Date
     FROM dbo.Site_Setting) t1
     right join
    (SELECT siteID, COUNT(*) AS TotalCount FROM dbo.qbei GROUP BY siteID ) t2
     on
    t1.SiteID = t2.siteID

END

GO
