USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_ErrorDetailCount]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_ErrorDetailCount] 
	-- Add the parameters for the stored procedure here
	@site int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	
--SELECT CASE WHEN Description='Login Fail' THEN  N'ログイン 間違いコード'
--            WHEN Description='Item Code does not Exist' THEN  N'商品なしコード(代理店)'
--            WHEN Description='Order Code Not Found' THEN  N'発注コードなし(メーカー)'
--            WHEN Description='Access Denied' THEN  N'アクセス拒否コード'
--            WHEN Description='Item doesn''t Check!' THEN  N'1週間に1回チェックコード'
--            WHEN Description='Item doesn''t Run!' THEN  N'活動ないコード'
--            WHEN Description='JanCode Not Found' THEN  N'JANなしコード(メーカー)'
--            Else N'システムエラー' End as Description,count(ErrorType)as Error,ErrorType from dbo.qbei_ErrorLog 
--			where siteID = @site
--			GROUP BY ErrorType,Description,SiteID

--END

SELECT e.Description,count(ErrorType)as Error,qe.ErrorType from dbo.qbei_errorlog qe
INNER JOIN ErrorType e ON qe.ErrorType = e.Type 
WHERE SiteID=@site
GROUP BY ErrorType,SiteID,e.Description
END
GO
