USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Insert_Xml_35]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:  <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Insert_Xml_35]
 -- Add the parameters for the stored procedure here
 @xmlCsv AS XML,
 @xmlItem AS XML,
 @param as varchar(100)
 
AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;
 
 DECLARE @DocHandle int
 
 EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
 
 SELECT * INTO #temp035 FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
   WITH (代理店ID nvarchar(200),JANコード NVARCHAR(200),在庫情報 NVARCHAR(100),入荷予定 NVARCHAR(50),発注コード NVARCHAR(50),自社品番 NVARCHAR(50),メーカー情報日 NVARCHAR(100),最終反映日 NVARCHAR(100),下代 NVARCHAR(20))

   EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlItem 

   SELECT * INTO #tempItem FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
   WITH (在庫記号 nvarchar(200),次回入荷予定日付 NVARCHAR(100),商品コード  nvarchar(100),JAN nvarchar(100),上代 nvarchar(50))

   EXEC sp_xml_removedocument @DocHandle
     
 UPDATE #temp035
 SET 発注コード =replace(replace(replace(replace(replace(replace(replace(replace(発注コード,N'在庫処分/inquiry/',''),N'/inquiry/',''),N'在庫処分/empry/',''),N'発注禁止/',''),N'在庫処分/good/',''),N'在庫処分/small/',''),N'在庫処分/empty/',''),N'バラ注文できない為発注禁止/','')

  --update Item does not exist
   UPDATE #temp035
   SET 在庫情報 = CASE WHEN ((在庫情報 LIKE 'empty' OR 在庫情報 LIKE 'inquiry') AND 入荷予定 LIKE '2100-01-10') THEN 在庫情報 else 'empty' END,
   入荷予定 = CASE WHEN ((在庫情報 LIKE 'empty' OR 在庫情報 LIKE 'inquiry') AND 入荷予定 LIKE '2100-01-10') THEN 入荷予定 else '2100-02-01' END
   FROM #temp035 t1
   WHERE
   JANコード IN(select t2.JANコード from #temp035 t2 left join #tempItem t3 on t2.JANコード = t3.JAN where t3.JAN IS NULL)
  AND 発注コード <>'' AND 発注コード  IS NOT  NULL
 

 --update Mall data
   UPDATE #temp035
   SET 在庫情報 = t2.在庫記号,
   下代 = REPLACE(t2.上代,',',''),
   入荷予定 = t2.次回入荷予定日付
   FROM #temp035 t1
   INNER JOIN #tempItem t2 ON t1.JANコード = t2.JAN
   WHERE NOT (t1.在庫情報 LIKE 'empty' AND t1.入荷予定 LIKE '2100-01-10') AND NOT (t1.在庫情報 LIKE 'inquiry' AND t1.入荷予定 LIKE '2100-01-10')
   --AND (((t2.在庫記号 NOT LIKE N'%✕%')  AND (t2.次回入荷予定日付 LIKE N'%2月%')) OR ((t2.在庫記号 NOT LIKE N'%完売%') AND (t2.次回入荷予定日付 LIKE N'%2月%')) OR  ((t2.在庫記号 NOT LIKE N'%終了%')AND (t2.次回入荷予定日付 LIKE N'%2月%'))    OR    ((t2.在庫記号 NOT LIKE N'%✕%') AND (t2.次回入荷予定日付 LIKE N'%上旬%')) OR  ((t2.在庫記号 NOT LIKE N'%完売%')AND (t2.次回入荷予定日付 LIKE N'%上旬%'))        OR  ((t2.在庫記号 NOT LIKE N'%終了%')AND (t2.次回入荷予定日付 LIKE N'%上旬%')) OR ((t2.在庫記号 NOT LIKE N'%2月%')AND (t2.次回入荷予定日付 LIKE N'%下旬%'))  OR ((t2.在庫記号 NOT LIKE N'%完売%')AND (t2.次回入荷予定日付 LIKE N'%下旬%')) OR ((t2.在庫記号 NOT LIKE N'%終了%')AND (t2.次回入荷予定日付 LIKE N'%下旬%')) OR ((t2.在庫記号 NOT LIKE N'%2月%')AND (t2.次回入荷予定日付 LIKE N'%初旬%'))  OR ((t2.在庫記号 NOT LIKE N'%完売%')AND (t2.次回入荷予定日付 LIKE N'%初旬%')) OR ((t2.在庫記号 NOT LIKE N'%終了%')AND (t2.次回入荷予定日付 LIKE N'%初旬%')) )
   
   --update Mall data 
   UPDATE #temp035
   SET 在庫情報 = t2.在庫記号,
   下代 = REPLACE(t2.上代,',',''),
   入荷予定 = t2.次回入荷予定日付
   FROM #temp035 t1
   INNER JOIN #tempItem t2 ON t1.JANコード = t2.JAN
   WHERE 
   --( NOT(t1.在庫情報 LIKE 'empty' AND  t1.入荷予定 LIKE '2100-01-10') AND NOT (t1.在庫情報 LIKE 'inquiry' AND t1.入荷予定 LIKE '2100-01-10'))
   --AND 
   ((t2.在庫記号 NOT LIKE N'%✕%' AND t2.在庫記号 NOT LIKE N'%完売%' AND t2.在庫記号 NOT LIKE N'%終了%') OR 
   ((t2.在庫記号 LIKE N'%✕%' OR t2.在庫記号 LIKE N'%完売%' OR t2.在庫記号 LIKE N'%終了%') AND t2.次回入荷予定日付 IS NOT NULL AND t2.次回入荷予定日付 <>'') )
     
   --if rerun set once a week data
   if @param IS NOT NULL
	begin
		UPDATE #temp035
		SET 在庫情報 = t2.在庫記号,
		下代 = REPLACE(t2.上代,',',''),
		入荷予定 = t2.次回入荷予定日付
		FROM #temp035 t1
		INNER JOIN #tempItem t2 ON t1.JANコード = t2.JAN
		WHERE ( NOT(t1.在庫情報 LIKE 'empty' AND  t1.入荷予定 LIKE '2100-01-10') AND NOT (t1.在庫情報 LIKE 'inquiry' AND t1.入荷予定 LIKE '2100-01-10'))
		AND ((t2.在庫記号 LIKE N'%✕%' OR t2.在庫記号 LIKE N'%完売%' OR t2.在庫記号 LIKE N'%終了%') AND t2.次回入荷予定日付 IS NULL OR t2.次回入荷予定日付 ='')		
    end
    
    print @param
    
   INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
   SELECT 代理店ID,N'インターテック(特殊)',JANコード,発注コード,3,'OrderCode Not Found',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'035'
   FROM #temp035
   WHERE  発注コード ='' OR 発注コード  IS  NULL 
 
 --INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
 --SELECT 代理店ID,N'インターテック(特殊)',JANコード,発注コード,9,'JanCode Not Found',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'035'
 --FROM #temp035
 --WHERE JANコード = '' OR JANコード IS NULL

  
   UPDATE #temp035
   SET 入荷予定 = CASE WHEN  在庫情報 LIKE N'%完売%'  OR  在庫情報 LIKE N'%終了%' THEN '2100-02-01'  ELSE '2100-01-01' END
   WHERE 入荷予定 IS NULL  OR 入荷予定 =''
      
   UPDATE #temp035
   SET 在庫情報 = 'good'
   WHERE 在庫情報 LIKE N'%○%'  OR 在庫情報 LIKE N'%◎%' OR 在庫情報 LIKE N'%◯%'
   
   UPDATE #temp035
   SET 在庫情報 = 'small'
   WHERE 在庫情報 LIKE N'%△%'
   
   UPDATE #temp035
   SET 在庫情報 = 'empty'
   WHERE  在庫情報 LIKE N'%✕%'   OR  在庫情報 LIKE N'%完売%'  OR  在庫情報 LIKE N'%終了%'

   UPDATE #temp035
   SET 入荷予定 = Cast(CASE WHEN( CONVERT(int,SUBSTRING(入荷予定,1,2)) < MONTH(GETDATE())) THEN year(getdate())+1 ELSE year(getdate()) END AS VARCHAR(4)) + '-' + replace(入荷予定,N'月中旬','') + '-' + '20'
   WHERE 入荷予定 LIKE N'%中旬%'  

   UPDATE #temp035
   SET 入荷予定 ='2018-02-28'
   WHERE 入荷予定 LIKE N'%2月%' AND 入荷予定 LIKE N'%下旬%'

   UPDATE #temp035
   SET  入荷予定 = Cast(CASE WHEN( CONVERT(int,SUBSTRING(入荷予定,1,2)) < MONTH(GETDATE())) THEN year(getdate())+1 ELSE year(getdate()) END AS VARCHAR(4)) + '-' + replace(入荷予定,N'月上旬','') + '-' + '10'
   WHERE 入荷予定 LIKE N'%上旬%' 

   UPDATE #temp035
   SET  入荷予定 = Cast(CASE WHEN( CONVERT(int,SUBSTRING(入荷予定,1,2)) < MONTH(GETDATE())) THEN year(getdate())+1 ELSE year(getdate()) END AS VARCHAR(4)) + '-' + replace(入荷予定,N'月下旬','') + '-' + '30'
   WHERE 入荷予定 LIKE N'%下旬%' 

   UPDATE #temp035
   SET  入荷予定 = Cast(CASE WHEN( CONVERT(int,SUBSTRING(入荷予定,1,2)) < MONTH(GETDATE())) THEN year(getdate())+1 ELSE year(getdate()) END AS VARCHAR(4)) + '-' + replace(入荷予定,N'月初旬','') + '-' + '10'
   WHERE 入荷予定 LIKE N'%初旬%' 
      
   UPDATE #temp035
   SET 入荷予定 = Cast(year(getdate()) AS VARCHAR(4)) + '-' + replace(入荷予定,N'月上旬','') + '-' + '10'
   WHERE 入荷予定 LIKE N'%上旬%'

   
   --UPDATE #temp035
   --SET 在庫情報 = 'empty'
   --WHERE 在庫情報 <=0 AND 入荷予定 IS NOT NULL 

select * from #temp035 where 発注コード = 'BM086'
	--insert once a week data into temp data 
	if @param IS NOT NULL
		begin
				
			SELECT * INTO #tempOW
			FROM (SELECT t1.* FROM #temp035 t1
			WHERE t1.JANコード IN( SELECT t2.JAN FROM #tempItem  t2
			WHERE ((t2.在庫記号 LIKE N'%✕%' OR t2.在庫記号 LIKE N'%完売%' OR t2.在庫記号 LIKE N'%終了%') AND 
			(t2.次回入荷予定日付 IS NULL OR t2.次回入荷予定日付 ='') AND t2.JAN IS NOT NULL AND t2.JAN <> ''))) temp
			
			--Delete Order data before insert into Qbei table
			DELETE  FROM Qbei_OrderData WHERE siteID = 35 
			AND jancode IN (SELECT JANコード 
			FROM #temp035 t1
			WHERE EXISTS (			
			SELECT t2.JAN FROM #tempItem t2 
			WHERE t2.JAN <> ' ' AND t2.JAN  IS NOT NULL)
			AND t1.JANコード NOT IN (SELECT JANコード FROM #tempOW))

select * from Qbei_OrderData  where orderCode  = 'BM086'	
			
			INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
			SELECT 代理店ID,N'インターテック(特殊)',JANコード,発注コード,5,'Item doesn''t Check!',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'035'
			FROM #tempOW 
			WHERE JANコード IN (SELECT jancode  FROM Qbei_OrderData WHERE siteID = 35)
		
			INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL,partNo, makerDate, reflectDate, Updated_Date,sitecode) 
			SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'https://intertecinc.jp/ecuser/item/itemDetail?itemCd='+発注コード,自社品番,メーカー情報日,最終反映日,getdate(),'035' 
			FROM #tempOW 
			WHERE JANコード NOT IN (SELECT jancode  FROM Qbei_OrderData WHERE siteID = 35)	
					
			INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL,partNo, makerDate, reflectDate, Updated_Date,sitecode) 
			SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'https://intertecinc.jp/ecuser/item/itemDetail?itemCd='+発注コード,自社品番,メーカー情報日,最終反映日,getdate(),'035' 
			FROM #temp035 t1
			WHERE EXISTS (			
			SELECT t2.JAN FROM #tempItem t2 
			WHERE t2.JAN <> ' ' AND t2.JAN  IS NOT NULL)
			AND t1.JANコード NOT IN (SELECT JANコード FROM #tempOW)
						
			DROP TABLE #tempOW	
		end
	else
		begin
			--Delete Order data before insert into Qbei table	
			DELETE FROM Qbei_OrderData 
			WHERE siteID = 35
			AND jancode IN (SELECT JANコード FROM #temp035
			WHERE  EXISTS(SELECT JANコード FROM #tempItem
			WHERE JANコード <> ' ' AND JANコード  IS NOT NULL)
			AND   発注コード <> ' ' AND 発注コード  IS NOT NULL)
		
			INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL,partNo, makerDate, reflectDate, Updated_Date,sitecode) 
			SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'https://intertecinc.jp/ecuser/item/itemDetail?itemCd='+発注コード,自社品番,メーカー情報日,最終反映日,getdate(),'035' FROM #temp035
			WHERE  EXISTS(SELECT JANコード FROM #tempItem
			WHERE JANコード <> ' ' AND JANコード  IS NOT NULL)
			AND   発注コード <> ' ' AND 発注コード  IS NOT NULL
		end
   DROP TABLE #temp035
   DROP TABLE #tempItem
   
--END

-----for Integer
SELECT * 
INTO #tempint
FROM (
     select quantity,stockDate,orderCode from dbo.Qbei where siteID = 35 and ISNUMERIC(quantity)  = 1
) AS x
update #tempint set quantity='inquiry' where convert(nvarchar,quantity)<= 0 and stockDate='2100-01-01'
update #tempint set quantity='empty' where convert(nvarchar,quantity)<= 0 and stockDate!='2100-01-01'
update #tempint set quantity='small' where ISNUMERIC(quantity)  = 1
and stockDate!='2100-02-01' and stockDate!='2100-01-10'
update dbo.Qbei set quantity= t.quantity,stockdate= t.stockdate
from #tempint AS t where siteID=35 and t.orderCode=qbei.orderCode
-- --select * from dbo.#tempint
 DROP TABLE #tempint
END






GO
