USE [Qbei_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Insert_Xml]    Script Date: 2/21/2019 6:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Insert_Xml]
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML,
	@xmlItem AS XML,
	@param As nvarchar(50)
	
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @DocHandle int
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp014 FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (代理店ID nvarchar(200),JANコード NVARCHAR(200),在庫情報 NVARCHAR(100),入荷予定 NVARCHAR(50),発注コード NVARCHAR(50),自社品番 NVARCHAR(50),メーカー情報日 NVARCHAR(100),最終反映日 NVARCHAR(100),下代 NVARCHAR(20))

  	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlItem 

  	SELECT * INTO #tempItem FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (商品コード nvarchar(200),現在庫数 NVARCHAR(100),卸価格 NVARCHAR(20))

  	EXEC sp_xml_removedocument @DocHandle
  			
    UPDATE #temp014
	SET 発注コード =replace(replace(replace(replace(replace(replace(replace(replace(replace(発注コード,N'在庫処分/empry/-',''),N'在庫処分/small/',''),N'empry/-',''),N'在庫処分/',''),N'empry/',''),N'在庫処分/empty/',''),N'在庫処分/empry/',''),N'在庫処分/inquiry/',''),N'データ登録し直すまで在庫更新しないで|','')
	
	  	--update Item does not exist
  	UPDATE #temp014 
  	SET 在庫情報 = CASE WHEN (入荷予定 = '2100-01-10') THEN 在庫情報 else 'empty' END,
  	入荷予定 = CASE WHEN (入荷予定 = '2100-01-10') THEN 入荷予定 else '2100-02-01' END
  	FROM #temp014 t1
  	--WHERE JANコード NOT IN(SELECT 商品コード FROM #tempItem)
	WHERE 発注コード NOT IN(SELECT 商品コード FROM #tempItem)
	AND 発注コード <>'' AND 発注コード  IS NOT  NULL
	
		--update Mall data 
	UPDATE #temp014
  	SET 在庫情報 = t2.現在庫数,
	下代 = t2.卸価格
  	FROM #temp014 t1
  	INNER JOIN #tempItem t2 ON t1.発注コード = t2.商品コード
  	WHERE NOT(t1.在庫情報  LIKE 'empty' AND t1.入荷予定  like '2100-01-10')  AND   NOT(t1.在庫情報  LIKE 'inquiry' AND t1.入荷予定  like '2100-01-10')
  	
 	--update Mall data
  	UPDATE #temp014
  	SET 在庫情報 = t2.現在庫数,
	下代 = t2.卸価格
  	FROM #temp014 t1
  	INNER JOIN #tempItem t2 ON t1.発注コード = t2.商品コード
  	WHERE (t1.在庫情報 LIKE 'empty' OR t1.在庫情報 LIKE 'inquiry') AND t1.入荷予定 like '2100-01-10'
  	AND ((t2.現在庫数 not LIKE N'%予%') OR (t2.現在庫数 NOT LIKE N'%×%') OR (t2.現在庫数 NOT LIKE N'%終%') OR (t2.現在庫数 NOT LIKE N'%取%') OR (t2.現在庫数 NOT LIKE N'%問%'))
  	
  	INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)
	SELECT 代理店ID,N'イワイ',JANコード,発注コード,3,'OrderCode Not Found',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'014'
	FROM #temp014
	WHERE  発注コード ='' OR 発注コード  IS  NULL
	
	
	
 -- 	UPDATE #temp014
 -- 	SET 在庫情報 = 'small',
	--入荷予定 = '2100-01-01'
 -- 	WHERE 在庫情報 LIKE N'%○%'
  	
 -- 	UPDATE #temp014
 -- 	SET 在庫情報 = 'empty',
	--入荷予定 = '2100-01-01'
 -- 	WHERE 在庫情報 LIKE N'%△%'
  	
 -- 	UPDATE #temp014
 -- 	SET 在庫情報 = 'empty',
	--入荷予定 = '2100-01-01'
 -- 	WHERE 在庫情報 LIKE N'%予%' OR 在庫情報 LIKE N'%予約%' OR 在庫情報 LIKE N'%×%'
  	
 -- 	UPDATE #temp014
 -- 	SET 在庫情報 = 'empty',
	--入荷予定 = '2100-01-01'
 -- 	WHERE 在庫情報 LIKE N'%取%' OR 在庫情報 LIKE N'%取寄%' OR 在庫情報 LIKE N'%問%'

	--UPDATE #temp014 
 -- 	SET 在庫情報 = 'empty',
	--入荷予定 = '2100-02-01'
 -- 	WHERE 在庫情報 LIKE N'%終%' OR 在庫情報 LIKE N'%終了%'

    UPDATE #temp014
  	SET 在庫情報 = 'small',
	入荷予定 = '2100-01-01'
  	WHERE 在庫情報 LIKE N'%○%'
  	
  	
  	UPDATE #temp014
  	SET 在庫情報 = 'empty',
	入荷予定 = '2100-02-01'
  	WHERE 在庫情報 LIKE N'%取%' OR 在庫情報 LIKE N'%取寄%' OR 在庫情報 LIKE N'%問%' OR 在庫情報  LIKE N'%要問合%' OR 在庫情報 LIKE N'%△%' OR 在庫情報 LIKE N'%終%' OR 在庫情報 LIKE N'%終了%' OR 在庫情報 LIKE N'%予%' OR 在庫情報 LIKE N'%予約%' OR 在庫情報 LIKE N'%×%' 
  	
    IF @param IS NOT NULL
  	begin
		SELECT * INTO #tempOnce
		FROM(
		SELECT t1.* 
		FROM #temp014 t1
		WHERE t1.発注コード IN ( SELECT t2.商品コード 
		FROM #tempItem t2
		WHERE t2.現在庫数 LIKE N'%予%' OR t2.現在庫数  LIKE N'%×%' OR t2.現在庫数 LIKE N'%終%' OR t2.現在庫数 LIKE N'%取%' OR t2.現在庫数 LIKE N'%問%'))As temp
	
		INSERT INTO Qbei_ErrorLog(SiteID,SiteName,JanCode,OrderCode,ErrorType,Description,Date,SiteCode)	
		SELECT 代理店ID,N'イワイ',JANコード,発注コード,5,'Item doesn''t check!',CONVERT(CHAR(23),CONVERT(DATETIME,getdate(),101),121),'014'
		FROM #temp014 
		WHERE 発注コード IN(
		SELECT #tempOnce.発注コード
		FROM #tempOnce
		WHERE #tempOnce.発注コード IN (SELECT orderCode  from Qbei_OrderData where siteID = 14))
	
		INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL, partNo, makerDate, reflectDate, Updated_Date,sitecode) 
		SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'https://edi.iwaishokai.co.jp/weborder', 自社品番,CONVERT(char(10), GetDate(),126),最終反映日, GETDATE (),'014'
		FROM #temp014 
		WHERE 発注コード IN(
		SELECT #tempOnce.発注コード
		FROM #tempOnce
		WHERE #tempOnce.発注コード NOT IN (SELECT orderCode  from Qbei_OrderData where siteID = 14))
	
		INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL, partNo, makerDate, reflectDate, Updated_Date,sitecode) 
		SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'https://edi.iwaishokai.co.jp/weborder', 自社品番,CONVERT(char(10), GetDate(),126),最終反映日, GETDATE (),'014' 
		FROM #temp014
		WHERE 
		発注コード <>'' AND 発注コード  IS NOT  NULL
		AND 発注コード NOT IN (SELECT 発注コード FROM #tempOnce )
		
		DROP TABLE #tempOnce 
	end
 
	else
		INSERT INTO Qbei(siteID, jancode, quantity, stockDate,price,orderCode,purchaserURL, partNo, makerDate, reflectDate, Updated_Date,sitecode) 
		SELECT 代理店ID,JANコード,在庫情報,入荷予定,下代,発注コード,'https://edi.iwaishokai.co.jp/weborder', 自社品番,CONVERT(char(10), GetDate(),126),最終反映日, GETDATE (),'014' FROM #temp014
		WHERE 
		発注コード <>'' AND 発注コード  IS NOT  NULL
 


  	DROP TABLE #temp014
  	DROP TABLE #tempItem
  

END

  


GO
