USE [Qbei_Inventory]
GO
/****** Object:  Table [dbo].[Qbei]    Script Date: 2/20/2019 11:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qbei](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[siteID] [int] NULL,
	[jancode] [nvarchar](20) NULL,
	[orderCode] [nvarchar](50) NULL,
	[quantity] [nvarchar](50) NULL,
	[stockDate] [nvarchar](50) NULL,
	[price] [nvarchar](50) NULL,
	[purchaserURL] [nvarchar](200) NULL,
	[partNo] [nvarchar](50) NULL,
	[makerDate] [date] NULL,
	[reflectDate] [date] NULL,
	[Updated_Date] [datetime] NULL,
	[sitecode] [varchar](5) NULL,
 CONSTRAINT [PK_maruiltd] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
