USE [Qbei_Inventory]
GO
/****** Object:  Table [dbo].[Qbei_ErrorLog]    Script Date: 2/20/2019 1:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qbei_ErrorLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NULL,
	[sitename] [nvarchar](200) NULL,
	[JanCode] [nvarchar](20) NULL,
	[OrderCode] [nvarchar](100) NULL,
	[ErrorType] [int] NULL,
	[Description] [nvarchar](200) NULL,
	[Date] [datetime] NULL,
	[SiteCode] [varchar](5) NULL,
 CONSTRAINT [PK_Qbei_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
