USE [Qbei_Inventory]
GO
/****** Object:  Table [dbo].[Qbei_OrderData]    Script Date: 2/20/2019 1:42:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qbei_OrderData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[siteID] [int] NULL,
	[jancode] [nvarchar](20) NULL,
	[orderCode] [nvarchar](50) NULL,
	[checkDate] [nvarchar](50) NULL,
	[Insert_Date] [datetime] NULL,
	[sitecode] [varchar](5) NULL,
 CONSTRAINT [PK_Qbei_OrderData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
