USE [Qbei_Inventory]
GO
/****** Object:  Table [dbo].[Site_Setting]    Script Date: 2/20/2019 11:31:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site_Setting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteName] [nvarchar](50) NULL,
	[SiteID] [int] NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[Url] [nvarchar](100) NULL,
	[SiteCode] [varchar](5) NULL,
	[FlagIsFinished] [smallint] NULL,
	[TotalCount] [int] NULL,
	[Start_time] [datetime] NULL,
	[End_time] [datetime] NULL,
 CONSTRAINT [PK_dbo.Site_Setting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Site_Setting] ON 
GO
INSERT [dbo].[Site_Setting] ([ID], [SiteName], [SiteID], [UserName], [Password], [Url], [SiteCode], [FlagIsFinished], [TotalCount], [Start_time], [End_time]) VALUES (4, N'イワイ', 14, N'400116', N'yarj7aof', N'https://edi.iwaishokai.co.jp/weborder', N'014', 2, 1, CAST(N'2019-02-19T20:30:00.000' AS DateTime), CAST(N'2019-02-20T09:10:58.000' AS DateTime))
GO
INSERT [dbo].[Site_Setting] ([ID], [SiteName], [SiteID], [UserName], [Password], [Url], [SiteCode], [FlagIsFinished], [TotalCount], [Start_time], [End_time]) VALUES (6, N'ライトウェイ', 16, N'262349', N'qbei1172', N'https://rpj-ec.com', N'016', 2, 1, CAST(N'2019-02-20T09:11:03.000' AS DateTime), CAST(N'2019-02-20T09:11:58.000' AS DateTime))
GO
INSERT [dbo].[Site_Setting] ([ID], [SiteName], [SiteID], [UserName], [Password], [Url], [SiteCode], [FlagIsFinished], [TotalCount], [Start_time], [End_time]) VALUES (7, N'インターマックス', 17, N'225306', N'pt52st8m', N'https://www.b2bshop.intermax.co.jp', N'017', 2, 4, CAST(N'2019-02-20T09:12:00.000' AS DateTime), CAST(N'2019-02-20T09:12:06.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Site_Setting] OFF
GO
